{% extends "base.html" %}

{% block title %}Productos ORM - Harta Pinta{% endblock %}

{% block content %}
  <h2>Productos desde SQLAlchemy</h2>
  <table border="1" cellpadding="5" cellspacing="0">
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Color</th>
          <th>Cantidad</th>
          <th>Precio</th>
      </tr>
      {% for producto in productos %}
      <tr>
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.color }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.precio }}</td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}